<div class="m-5">
  <div class="row">
    <div class="col-md">
      <h2 class="text-center">To Do</h2>

      {{!-- {{#each tasks}}
      {{#if done}} --}}
      {{>task-card}}
      {{>task-card}}
      {{!-- {{/if}}
      {{/each}} --}}
    </div>
    <div class="col-md border-left border-right border-secondary">
      <h2 class="text-center">Doing</h2>

      {{!-- {{#each tasks}}
      {{#if done}} --}}
      {{>task-card}}
      {{!-- {{/if}}
      {{/each}} --}}

    </div>

    <div class="col-md">
      <h2 class="text-center">Done</h2>

      {{!-- {{#each tasks}}
      {{#if done}} --}}
      {{>task-card}}
      {{!-- {{/if}}
      {{/each}} --}}

    </div>
  </div>
</div>