<div class="m-5 ">
  <div class="row mx-auto text-center pb-5">
    <div class="col-md-6">


      <h2>{{name}}</h2>

    </div>


    <div class="col-md-6">
      <button href="#formAddTask" data-toggle="collapse" class="btn btn-primary">Add Task</button>

    </div>

    <div class="collapse dropdown m-3" id="formAddTask">
      <form class="mx-auto" action="/add-task/{{projectId}}" method="post">
        <div class="row">
          <h5 class="mx-auto">Task</h5>
        </div>
        <div class="row">
          <input class="mx-auto" type="text" name="task" placeholder="Name of Task" required>
        </div>
        <div class="row mt-3">
          <h5 class="mx-auto">Task Status</h5>
        </div>

        <div class="row">

          <select name="task_status">
            <option value="todo">To Do</option>
            <option value="doing">Doing</option>
            <option value="done">Done</option>
          </select>
        </div>

        <div class="row mt-3">
          <button type="submit" value="submit" class="btn btn-primary mx-auto">Submit</button>
        </div>
      </form>
    </div>


  </div>







  <div class="row">
    <div class="col-md">
      <h2 class="text-center">To Do</h2>

      {{#each tasks}}
      {{#if todo}}
      {{>task-card}}
      {{/if}}
      {{/each}}

    </div>
    <div class="col-md border-left border-right border-secondary">
      <h2 class="text-center">Doing</h2>

      {{#each tasks}}
      {{#if doing}}
      {{>task-card}}
      {{/if}}
      {{/each}}

    </div>

    <div class="col-md">
      <h2 class="text-center">Done</h2>

      {{#each tasks}}
      {{#if done}}
      {{>task-card}}
      {{/if}}
      {{/each}}

    </div>
  </div>
</div>
{{!-- 
<div id="popup1" class="overlay">
	<div class="popup">
		<h2>Here i am</h2>
		<a class="close" href="#">&times;</a>
		<div class="content">
			Thank to pop me out of that button, but now i'm done so you can close this window.
		</div>
	</div>
</div> --}}